<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.coolwallpaper"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--在SDCard中读写数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--在SDCard中创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--图片详情-->
        <activity android:name=".ShowPictureDetailActivity"/>

        <!--主页-->
        <activity android:name=".HomePageActivity"/>

        <!--本地壁纸-->
        <activity android:name=".LocalPaperActivity"/>

        <!--图片多选界面-->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>

        <!--图片剪切框架uCrop-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--搜索-->
        <activity android:name=".SearchActivity"/>

        <!--搜索结果显示页面-->
        <activity android:name=".ShowSearchListActivity"/>

        <!--下载图片信息的服务-->
        <service android:name=".service.PictureResultGetServevice">
            <intent-filter>
                <action android:name="action_download_result_service"/>
            </intent-filter>
        </service>

    </application>

</manifest>
